<div id="top">
  <div class="text-center text-secondary">
    <h1>Portfolio</h1>
    <p>Kazuki Shida</p>
    <div class="img"><%= image_tag "白猫.jpg" %></div>
    <a class="chevron-circle-down" href="#about"><i class="fas fa-chevron-circle-down"></i></a>
  </div>
</div>
<div id="about">
  
</div>

<div id="skill">
  
</div>

<div id="works">
  
</div>

<div id="contact">
  
</div>