<div class="recruit-games">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>SUPER PEOPLE用フレンド募集掲示板</h3>
        <p>
          Ruby on Railsで制作したSUPER PEOPLEというゲームのフレンドを募集することができるサイトで、このゲームをプレイするフレンドが少なかったことから制作しようと思いました。
          機種とゲーム内IDを入力するだけで簡単に募集することができ、Twitterでこのサイトをシェアすることもできます。
          
        </p>
        <ul>
          <li><a class="demo" href="https://superpeople-friend.herokuapp.com/" target="_blank"><i class="fas fa-video"></i> Demo</a></li>
          <li><a class="github" href="https://github.com/s-kazuki1226/RecruitGame" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
        </ul>    
        <h5>使用言語など</h5>
        <p>
          Ruby, Ruby on Rails, HTML5/CSS3, Bootstrap, MySQL(開発), PostgreSQL(本番), Git/GitHub, Heroku
        </p>
      </div>
      <div class="photos col-md-7 text-center">
        <a href="assets/recruit-game.png" data-lightbox="recruit_game">
          <%= image_tag "recruit-game.png", alt: "", class: "recruit-game1" %>
        </a>
        <p>
          上記の画像をクリックすると、拡大表示されます。
        </p>
      </div>
    </div>
  </div>
</div>